@import './Reset'

.container
    max-width: 1280px
    margin: auto
    padding: 0 5%
    box-sizing: content-box

.flex-row
    display: flex
    flex-direction: row
    width: 100%

.btn-yellow
    background-color: #E8C300
    color: white
    border: none

    &:hover
        background-color: inherit
        color: #E8C300
        border: 1px solid #E8C300

.btn-transparent
    background-color: inherit
    color: white
    border: 1px solid rgba(255, 255, 255, 0.5)
    
    &:hover
        background-color: #E8C300
        color: white
        border: none

.pages-title
    font-weight: bold
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.5em
    text-transform: uppercase
    margin-bottom: 30px
    color: white
    text-align: center
    padding-top: 30px

.pages-img
    width: 100%
    max-width: 600px
    height: 475px
    backgroundSize: cover